<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Quick Response Code </title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../home1/assets/plugins/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../home1/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../home1/assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../home1/assets/css/one-page-parallax/style.min.css" rel="stylesheet" />
	<link href="../home1/assets/css/one-page-parallax/style-responsive.min.css" rel="stylesheet" />
	<link href="../home1/assets/css/one-page-parallax/theme/default.css" id="theme" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../home1/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a th:href="@{/trangchu}" class="navbar-brand">
                        <span class="brand-logo"></span>
                        <span class="brand-text">
                            <span class="text-theme">Quick Response</span> Code
                        </span>
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active dropdown">
                            <a th:href="@{/trangchu}" >TRANG CHỦ </a>
                            
                        </li>
                        <li><a href="#about" data-click="scroll-to-target">DỊCH VỤ</a></li>
                        <li><a href="#work" data-click="scroll-to-target">TIN TỨC</a></li>
                        <li><a href="#team" data-click="scroll-to-target">KHÁCH HÀNG</a></li>
                        <li><a href="#pricing" data-click="scroll-to-target">TUYỂN DỤNG</a></li>
                        <li><a href="#contact" data-click="scroll-to-target">LIÊN HỆ</a></li>
                        <li><a th:href="@{/login2}" >ADMIN</a></li>
                     
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #header -->
        
        <!-- begin #home -->
        <div id="home" class="content has-bg home">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="../home1/assets/img/bg/bg-home.jpg" alt="home" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container home-content">
                <h1>Chào mừng bạn đến với Quick Response Code !</h1>
                <h3>Phân biệt hàng thật, hàng giả</h3>
                <p>
                    Chúng tôi cung cấp giải pháp minh bạch thông tin qua mã QRCode để phân biệt Hàng thật, Hàng giả.
                    <br>
                    Đội ngũ tư vấn nhiệt tình, miễn phí tư vấn tất cả dịch vụ.
                    <br>
                    Quy trình làm việc đơn giản, minh bạch chi phí
                </p>
                <a th:href="@{/login1}" class="btn btn-theme">Đăng nhập</a> <a th:href="@{/register}" class="btn btn-outline">Đăng ký</a><br />
                <br />
                Theo dõi chúng tôi <a href="#">subscribe</a> 
            </div>
            <!-- end container -->
        </div>
        <!-- end #home -->
        
        <!-- begin #about -->
        <div id="about" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">Về chúng tôi</h2>
                <p class="content-desc">
                    Quick Response Code trang web cung cấp giải pháp số hoá sản phẩm, dịch vụ giúp Doanh nghiệp chuyển đổi số hiệu quả, tăng doanh thu, giảm chi phí.
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <!-- begin about -->
                        <div class="about">
                            <h3>Câu chuyện của chúng tôi</h3>
                            <p>
                                Cung cấp thông tin sản phẩm cho người tiêu dùng, giúp doanh nghiệp phát hiện sớm khu vực có hàng tồn, hàng giả, nâng cao năng lực cạnh tranh.
                            </p>
                            <p>
                                Bảo vệ cho các đại lý, chống được sự liên kết ép giá, lấy khuyến mại từ các nhà phân phối.
                            </p>
                            <p>
                               Giúp doanh nghiệp dễ dàng và tiết kiệm chi phí khi triển khai bảo hành sản phẩm với người tiêu dùng.
                            </p>
                            <p>
                            Thúc đẩy tăng doanh thu doanh nghiệp dễ dàng triển khai các chương trình loyalty đến khách hàng thông qua các kịch bản của iCheck.
                        </p>
                        </div>
                        <!-- end about -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <h3>Châm ngôn của chúng tôi</h3>
                        <!-- begin about-author -->
                        <div class="about-author">
                            <div class="quote bg-silver">
                                <i class="fa fa-quote-left"></i>
                                <h3>We work harder,<br /><span>to let our user keep simple</span></h3>
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img src="../home1/assets/img/user/user-1.jpg" alt="Sean Ngu" />
                                </div>
                                <div class="info">
                                    Dieu Hien
                                    <small>Front End Developer</small>
                                </div>
                            </div>
                        </div>
                        <!-- end about-author -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-12">
                        <h3>Kinh nghiệp</h3>
                        <!-- begin skills -->
                        <div class="skills">
                            <div class="skills-name">Front End</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 90%">
                                    <span class="progress-number">90%</span>
                                </div>
                            </div>
                            <div class="skills-name">Programming</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 85%">
                                    <span class="progress-number">85%</span>
                                </div>
                            </div>
                            <div class="skills-name">Database Design</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 85%">
                                    <span class="progress-number">85%</span>
                                </div>
                            </div>
                            <div class="skills-name">Back end</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 80%">
                                    <span class="progress-number">80%</span>
                                </div>
                            </div>
                        </div>
                        <!-- end skills -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #about -->
    
        <!-- begin #milestone -->
        <div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="../home1/assets/img/bg/bg-milestone.jpg" alt="Milestone" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="10000">10,000+</div>
                            <div class="title">Lượt scan/tháng</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="1999">1,000+</div>
                            <div class="title">Doanh nghiệp</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="5000">5,000</div>
                            <div class="title">Lượt tải app</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="2999">2.999+</div>
                            <div class="title">Sản phẩm</div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #milestone -->
        
        <!-- begin #team -->
       <div id="team" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">KHÁCH HÀNG CỦA CHÚNG TÔI</h2>
                <p class="content-desc">
                    Được tin dùng bởi hơn 10.000 doanh nghiệp.<br>
                    Sự hài lòng của khách hàng chính là thành công lớn nhất của chúng tôi
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">             
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <img src="../home1/assets/img/user/dn1.jpg" alt="Ryan Teller" width="100px" height="100px"  />
                            </div>
                            <div class="info">
                                <h3 class="name">HALAN MILK</h3>
                                <div class="title text-theme">DOANH NGHIỆP</div>
                                 <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>                     
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">             
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <img src="../home1/assets/img/user/dn2.png" alt="Jonny Cash"width="200px"  height="100px" />
                            </div>
                            <div class="info">
                                <h3 class="name">SỮA SỨC SỐNG</h3>
                                <div class="title text-theme">DOANH NGHIỆP</div>
                                 <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>                     
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">             
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <img src="../home1/assets/img/user/dn3.png" alt="Mia Donovan"  width="220px"  height="100px" />
                            </div>
                            <div class="info">
                                <h3 class="name">GREEN NUTRI</h3>
                                <div class="title text-theme">DOANH NGHIỆP</div>
                                 <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>                     
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #team -->
        
        <!-- begin #quote -->
        <div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="../home1/assets/img/bg/bg-quote.jpg" alt="Quote" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInLeft">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-12 -->
                    <div class="col-md-12 quote">
                        <i class="fa fa-quote-left"></i> Sự hài lòng của khách hàng chính là <span class="text-theme">thành công
                        </span>  lớn nhất của chúng tôi!  
                        <i class="fa fa-quote-right"></i>
                        <small>- Quick Response Code -</small>
                    </div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #quote -->
        
        <!-- beign #service -->
 
        <!-- end #about -->
        
        <!-- beign #action-box -->
        
        
        <!-- begin #work -->
        <div id="work" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">Tin tức</h2>
                <p class="content-desc">
                    Tin tức 24h, cập nhật tin nóng online về Quick Response Code mới nhất trong ngày.
                </p>
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                       
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                      
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                       
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                       
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
                <!-- begin row -->
                <div class="row row-space-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../home1/assets/img/work/a1.jpg" alt="Work 5" height="197.33px" /></a>
                            </div>
                            <div class="desc">
                                
                                <span class="desc-text">Xây dựng niềm tin cho thực phẩm sạch bằng công nghệ truy xuất nguồn gốc</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../home1/assets/img/work/a3.png" alt="Work 6"  height="197.33px" /></a>
                            </div>
                            <div class="desc">
                               <span class="desc-text">Tem chống giả QR Code – Đương đầu cùng doanh nghiệp đẩy lùi vấn nạn hàng giả</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../home1/assets/img/work/a4.jpg" alt="Work 7"  height="197.33px"/></a>
                            </div>
                            <div class="desc">
                                
                                <span class="desc-text">Ngành mỹ phẩm khai phá sức mạnh của Barcode, QR Code như thế nào?</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-6">
                        <!-- begin work -->
                        <div class="work">
                            <div class="image">
                                <a href="#"><img src="../home1/assets/img/work/a5.jpg" alt="Work 8" height="197.33px" /></a>
                            </div>
                            <div class="desc">
                                
                                <span class="desc-text">Tuyên chiến không khoan nhượng với hàng xách tay không rõ nguồn gốc</span>
                            </div>
                        </div>
                        <!-- end work -->
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #work -->
        
        <!-- begin #client -->
      
        <!-- end #client -->
        
        <!-- begin #pricing -->
        <div id="action-box" class="content has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="../home1/assets/img/bg/bg-action.jpg" alt="Action" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInRight">
                <!-- begin row -->
                <div class="row action-box">
                    <!-- begin col-9 -->
                    <div class="col-md-9 col-sm-9">
                        <div class="icon-large text-theme">
                            <i class="fa fa-binoculars"></i>
                        </div> 
                        <h3>VÀO TRANG ADMIN NGAY ĐỂ QUẢN LÝ SẢN PHẨM CỦA BẠN</h3>
                        <p>
                          Đăng ký tài khoản ngay để quản lý sản phẩm của doanh nghiệp
                        </p>
                    </div>
                    <!-- end col-9 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-3">
                        <a th:href="@{/register}" class="btn btn-outline btn-block">Đăng ký</a>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #pricing -->
        
        <!-- begin #contact -->
        <div id="contact" class="content bg-silver-lighter" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">Liên hệ</h2>
                <p class="content-desc">
                    Gửi email cho chúng tôi, chúng tôi sẽ liên hệ bạn và tư vấn cho bạn.
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                        <h3>Nếu bạn có bất kỳ câu hỏi nào, hãy liên hệ với chúng tôi</h3>
                        <p>
                            Facebook: Quick Response Code<br>
                            Instagram: _qrcode

                        </p>
                        <p>
                            <strong>77 Nguyễn Huệ</strong><br />
                            Phú Nhuận<br />
                            Thành phố Huế<br />
                            P: 0937 534 880<br />
                        </p>
                        <p>
                            <span class="phone">+84 (0) 0937 534 880</span><br />
                            <a href="mailto:17T1021074@gmail.com">17T1021074@gmail.com</a>
                        </p>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                        <form class="form-horizontal" method="post" data-parsley-validate="true" th:object="${message}"
								th:action="@{/trangchu/save}">
								<input type="hidden" th:field="*{id}" />
							 <div class="form-group">
                               
                                <div class="col-md-12">
                                    <span  th:if="${dagui != null}" th:text="${dagui}" style="color:#ff0891"> </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Họ & tên <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" th:field="*{hoten}" name="hoten"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" th:field="*{email}" name="email"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Tin nhắn <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="10" th:field="*{tinnhan}" name="tinnhan"></textarea>
                                </div>
                            </div>
                           
                            
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9 text-left">
                                    <button type="submit" class="btn btn-theme btn-block">Gửi tin nhắn </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #contact -->
        
        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand">
                    <div class="footer-brand-logo"></div>
                    Quick Response Code

                </div>
                <p>
                    &copy; Copyright Quick Response Code 2021<br />
                    An admin & front end theme with serious impact. Created by <a href="#">Dieu Hien</a>
                </p>
                <p class="social-list">
                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                </p>
            </div>
        </div>
        <!-- end #footer -->
        <!-- begin theme-panel -->
        <!-- <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <ul class="theme-list clearfix">
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="../home1/assets/css/one-page-parallax/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="../home1/assets/css/one-page-parallax/theme/blue.css" data-theme-file="" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme-file="../home1/assets/css/one-page-parallax/theme/default.css" data-theme-file="" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="../home1/assets/css/one-page-parallax/theme/orange.css" data-theme-file="" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="../home1/assets/css/one-page-parallax/theme/red.css" data-theme-file="" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                </ul>
            </div>
        </div> -->
        <!-- end theme-panel -->
    </div>
    <!-- end #page-container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../home1/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="../home1/assets/plugins/bootstrap3/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../home1/assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../home1/assets/plugins/scrollMonitor/scrollMonitor.js"></script>
	<script src="../home1/assets/js/one-page-parallax/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>    
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
</body>
</html>
